*{
    font-family: 'Newsreader', serif;
    scroll-behavior: smooth;
}
.main{
    margin: 0;
    padding: 0;
    background-image:url(/images/landing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 300vh; */
    background-attachment: fixed;
    background-position: center;
  }
.mained{
    font-size: 20px;
    color: white;
    align-content: center;
    padding: 13%;
    padding-left: 15%;
    animation-name: first-anim, second-anim;
    animation-duration: 6s, 1.25ms;
    animation-delay: 0, 750ms;
}

.navbar{
    position: fixed;
    padding-top: 30px;
    padding-left: 65%;
    background-color: transparent;
}
nav ul li a{
    text-decoration: none;
    color: rgb(9, 181, 194);
}
nav ul li a:hover{
    color: black;
    background-color: white;
    border: 1px solid silver;
    text-decoration: none;
}
ul li{
    display: inline;
    padding-left: 40px;                                                             
    text-align: right;
    font-size: 18px;
}
.signup{
    align-items: center;
    padding-left: 35%;
    padding-top: 20%;
}
.input{
    border: 2px solid orange;
    padding: 20px;
    border-radius: 7px;
    background-color: rgba(223, 214, 210, 0.938);
}
.submit_btn{
    margin-left: 50%;
    border: 2px solid orange;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: peru;
    margin-top: 20px;
    border-radius: 10px;
}

#welcome_btn{
    background-color: rgb(49, 202, 212);
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
}
.maina{
    display: flex;
}
.mainImg{
    padding-top: 120px;
    margin-left: 152px;
}
#mainH{
    animation-duration: 4s;
    animation-name: slidein;
    /* animation-iteration-count: infinite; */
    animation-direction: alternate;
}
@keyframes slidein{
    from{
        margin-top: 100%;
        width: 300%;
    }
    to{
        margin-top: 0%;
        width: 100%;
    }
}
/*ABOUT PAGE */
#quote{
    font-family: 'Comfortaa', cursive;
}
#abt_footer{
    background-image: url(/images/land.jpg);
    color: white;
    height: 50vh;
    background-size: cover ;
}
#image1{
    width: 400px;
}
.word1{
    padding-top: 30px;
}
#graduate1{
    width: 400px;
    height: 300px;
}
.row{
    display: flex;
    justify-content: space-between;
}
.abt{
    display: flex;
}
.about{
    margin-top: 90px;
    background-image: url(/images/land3.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* BLOGS PAGE */
#blog1Img{
    /* padding-top: 10px; */
    height: 240px;
    width: 300px;
    padding-left: 15px;
}
.wrapper{
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid rgb(49, 202, 212);
    padding-top: 50px;
    padding-right: 20px;
    margin-left: 100px;
    margin-right: 100px;
   color: white;

}
.bordered{
    border-radius: 5px;
    margin-top: 20px;
    display: flex;
    width: 510px;
    border: 0.1px solid grey;
    margin-left: 20px;
    height: 370px;
    margin-left: 10px;
}
.container{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr ;
}
.descrption{
    padding-left: 10px;
}

#viewButton{
    margin-left: 80px;
    border: 2px solid black;
    padding: 6px;
    background-color: rgb(49, 202, 212);
}

/* footer section */
.footer{
    margin-top: 50px;
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 70px;
}
input{
    color: white;
    width: 100%;
    height: 10vh;
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.397);
    /* padding: 15px; */
}
.form{
    padding-left: 600px;

}
         
#subscribe{
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 35%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 7px;
    background-color: rgb(49, 202, 212);
    color: black;
}
.icons{
    color: white;
    height: 20px;
    margin-left: 60%;
    margin-top: 20px;
}

.contact{
    color: white;
}
#follow{
    color: white;    
}

#title1{
    padding-left: 40%;
    padding-top: 40px;

}

/* Individual books */
.bookBody{
    border: 4px solid rgb(49, 202, 212) ;
    margin: 40px;

    
}
#back-btn{
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 3%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 7px;
    background-color: rgb(49, 202, 212);
    color: black;
}

.bookBody{
    background-image: url(/images/landing4.jpg);
}
/* book1 */
.heading{
    display: flex;
}
#book1{
    background-image: url(/images/landing4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: black    ;
}
.blog{
    display: flex;
}
.blogImg{
    width: 1000px;
    height: 400px;
    padding-top: 40px;
}